body {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-family: 'Open Sans', sans-serif;
  background: #f1eeff;
  width: 100%;
  line-height: 1.5rem;
}
